@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Open+Sans+Condensed:wght@700&display=swap");
body {
  color: #000000;
  background-color: #F9F9F9;
  font-family: "Open Sans", sans-serif;
  font-size: 1.125em;
  line-height: 1.5; }

.container {
  margin: 0 auto;
  padding: 0em 1em 0 1em;
  max-width: 768px; }
  @media only screen and (min-width: 768px) {
    .container {
      padding: 0; } }

h1, h2 {
  font-family: "Open Sans Condensed", sans-serif;
  line-height: 1; }

h1 {
  font-size: 3em; }

h2 {
  opacity: 0.75; }

p {
  opacity: 0.85; }

.btn {
  display: block; }

.hidden {
  display: none; }

.logo-text {
  display: inline-block;
  margin-bottom: -0.5em;
  opacity: 0.85; }

.header {
  margin-bottom: 2em; }

.button-loading {
  display: flex;
  margin: 1.5em 0; }
  .button-loading .btn {
    margin-right: 1.5em; }

#text {
  width: 100%;
  margin-top: 1em;
  padding: 0.5em 1em 0 1em;
  box-sizing: border-box;
  resize: vertical;
  line-height: 1.2;
  color: #333333; }

.output-container {
  width: 100%;
  margin: 1em 0;
  padding: 0.5em 1em 0 1em;
  min-height: 200px;
  background-color: #FFFFFF;
  border: 1px solid lightgrey; }

.output {
  white-space: pre; }

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear; }

.dot1 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out; }

.dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }

@-webkit-keyframes sk-rotate {
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg); } }

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
